body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  background: url(../public/bg.jpg) no-repeat center;
  background-size: cover;
  backdrop-filter: brightness(60%);
}

#root {
  padding: 80px 0;
}
